 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Post Graduate in Computer Security and Networking</h4>
    <h5 class="meta">University of Liverpool, England</h5>
    <div class="time">2017</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Under Graduate in Computer Science</h4>
    <h5 class="meta">University of Oxford, England</h5>
    <div class="time">2009</div>
</div><!--//item-->

</div><!--//education-container-->
