<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Employment</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Sr Software Engineer and Project Manager</h3>
                <div class="time">2006 - Present</div>
            </div><!--//upper-row-->
            <div class="company">Global Technology Ltd, UK and Bangkok</div>
        </div><!--//meta-->
        <div class="details">
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software Development Manager</h3>
                <div class="time">2002 - 2006</div>
            </div><!--//upper-row-->
            <div class="company">Rydex Ltd, UK</div>
        </div><!--//meta-->
        <div class="details">
            Support Engineer → Jr. Developer → Software Developer → Software Development Manager
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Systems Manager and Support Manager</h3>
                <div class="time">2000- 2002</div>
            </div><!--//upper-row-->
            <div class="company">Horizon Mobile Communications Ltd, Bangkok</div>
        </div><!--//meta-->
        <div class="details">
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Systems Manager and Support Manager</h3>
                <div class="time">1994 - 1999</div>
            </div><!--//upper-row-->
            <div class="company">Marinet Systems, UK</div>
        </div><!--//meta-->
        <div class="details">
            System Operator → Systems Engineer → Systems Manager 
            <br />
            Jr. Support Engineer → Support Engineer → Support Supervisor → Support Manager
        </div><!--//details-->
    </div><!--//item-->

</section><!--//section-->
