<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Development</h3>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                            <li>Developing and maintaining projects (womb-to-tomb) in C#, Node.js Ruby, and Python.</li>
                            <li>Feel at home coding back-end APIs and front-end UIs for desktop, web and mobile</li>
                            <li>Conversion of legacy systems in VB6, ASP, VB.NET to C#, Ruby, Python</li>
                            <li>Porting Windows only .NET products to .NET Core in order target Linux market</li>
                            <li>Porting services to cloud based providers (AWS) and serverless architecture</li>
                            <li>Extensive experience scalable services and also modifying legacy, overloaded applications</li>
                            to work in a multi-instance environment and load balance.</li>
                            <li>Experience of message queues: RabbitMQ, NetMQ and ZeroMQ</li>
                            <li>Building comprehensive billing platforms to generate invoices for multiple in-house</li>
                            products and third party systems, with Sage 50, Sage 200 and Net-suite integration</li>
                            <li>Ardent believer in unit testing, test driven development (Spec-Flow, Shouldly, RSPEC,
                            Mocha) and continuous integration (MyGet, Team City, and Jenkins).</li>
                            <li>Providing consultancy to customers wanting new features in existing productions or
                            completely new products.</li>
                            <li>Adopting and evangelizing an agile approach with close customer interaction and feedback,
                            paper mock-ups, wire-framing. and short feedback loops.</li>
                            <li>Demonstrating progress presentations to vested parties internally and with the customers.</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Leadership</h3>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                            <li>Leading, managing, motivating and mentoring teams of 3 to 12 software, support and system engineers.</li>
                            <li>Training individual staff and teams on best practices, new frameworks, newly adopted technology new and existing products.</li>
                            <li>Always leading from the front in times of crisis by hands-on trouble-shooting, and liaising with both other departments, service providers and customers.</li>
                            <li>Instilling self-belief, enthusiasm and compassion. I lead by leading by example and promote eagerness to succeed, support for my fellow colleges, and empathy towards others.</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Customer Service</h3>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                            <li>Extensive experience in providing all levels of telephone and e-mail support to customers
                            around the world.</li>
                            <li>Adopting a pro-active approach to support through data analysis</li>
                            <li>Building and maintaining excellent relationships with customers and always providing
                            support that is far and above their expectations.</li>
                            <li>Relishing the challenge of complex problems which push the boundaries of my ability and
                            enjoying the sense of accomplishment gained from solving them.</li>
                            <li>Providing and managing on-line training sessions with customers on products and services</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Project Management</h3>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                            <li>Management of software development projects – usually involving teams in more than one
                            country.</li>
                            <li>Creating proposals/startup documents and project plans for new development and services</li>
                            <li>Supporting all vested teams and 3rd party providers to ensure plan is followed, risks are closely monitored and problems are identified and dealt with early.</li>
                            <li>Delivering projects on time, with automated tests, automatic build process, and fully documented.</li>
                        </ul>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
